<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
<!-- Project  : Video Games Chat -->
<!-- Team     : Dark Overlords   -->
<!-- File     : chatroom-info    -->
<!-- Date     : 05/13/2022       -->
<!-- Modified : 05/18/2022       -->
<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
{{#unless chat}}
  <a href="/chatroom/{{id}}">
{{else}}
  <a>
{{/unless}}
<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div class="chat-title">   {{title}} - {{console.name}}  </div>
      <div class="created-by pt-1">Created by {{user.username}} on {{format_date created_at}}</div>
    </div>
  </div>
  <div class="card-body">
    {{description}}
  </div>
</div>
</a>